body
{
	margin:0;
	padding:0;
	background:url(../image/background.gif) repeat-x;

}
.chanel-title
{
	font-weight:bold;
	font-family:Arial;
	padding-left:30px;
}
.file-nam
{
	font-weight:600;
	text-align:center;
}
.imgz
{
	box-shadow:	4px 7px 10px rgba(220,220,220,1.00);
	float:none;
	margin:auto;
	margin-top:10px;
	margin-bottom:30px;
}
.inner-row
{
	margin-left:0;
	margin-right:0;
	padding-left:10px;
	padding-right:10px;
}
.inner-row:nth-child(odd)
{
	background-color:rgba(148,213,249,0.20);
}
.inner-row:nth-child(even)
{
	background-color:rgba(255,243,210,0.40);
}
.meta-link
{
	margin-bottom:0;	
}
.meta-link a
{
	color:#000;
	text-decoration:none;
	font-family:Arial;
	font-size:14px;
	color:#000;
	width:100%;
	word-wrap:break-word;

}
.meta-link a:hover
{
	color:#000;
	text-decoration:none;
}


@media(min-width:768px)
{
.chanel-title
{
	margin-top:55px;
}
.file-nam
{
	text-align:left;
	padding-left:45px;
}
	
.imgz
{
	float:left;
	margin-left:45px;
}
.inner-row
{
	float:left;
	width:100%;
}
}